{% extends 'base.html' %}

{% block title %}О проекте{% endblock %}

{% block content %}
{% include 'header.html' %}
<div class="container">
    <h1 class="col text-center">О проекте</h1>
</div>
<div class="container mb-5">
    <div class="col">
        <h3>Описание приложения:</h3>
        <p class="lead">
            Проект разработан с помощью фреймворка flask, работает с базой данных PostrgeSQL версии 14.7, имеет REST API
            и веб интерфейсы.
        </p>
        <h3>Цель приложения:</h3>
        <p class="lead">
            Каталогизация и структурирование информации по различным веб-ресурсам, а также мониторинг их доступности.
            Мониторинг проводится регулярно, по расписанию. По каждому ресурсу хранится последний статус код ответа и
            статус "доступен/недоступен". Если ресурс недоступен в течении времени, определенного в конфигурации
            приложения, он удаляется из наблюдения.
        </p>
    </div>
</div>

{% include 'footer.html' %}
{% endblock %}